COMPOSE_PROJECT_NAME=<use either stag or prod>

DB_USER=opendata
DB_PASSWORD=
DB_NAME=opendata
DB_PORT=

READONLY_PW=

ENTSOE_API_KEY=

PG_MAIL=admin@<prod or stag>.com
PG_PW=
PGADMIN_PORT=
POSTGREST_PORT=



PREFECT_POSTGRES_USER=prefect_user
PREFECT_POSTGRES_PASSWORD=
PREFECT_POSTGRES_DB=prefect
PREFECT_PORT=
PREFECT_LOGGING_EXTRA_LOGGERS="<put any logger names here that should be captured by prefect dashboard, seperated by comma>"

REDIS_PASSWORD=

PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://${PREFECT_POSTGRES_USER}:${PREFECT_POSTGRES_PASSWORD}@postgres:5432/${PREFECT_POSTGRES_DB}
PREFECT_REDIS_MESSAGING_PASSWORD=${REDIS_PASSWORD}
PREFECT_USER=
PREFECT_PASSWORD=
PREFECT_API_URL=http://<your-ip>:<prefect-port>/api

POSTGRES_METABASE_PW=
METABASE_PORT=
METABASE_DOMAIN=

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
GRAFANA_PORT=
